@import "tailwindcss";

@theme {
	--color-primary: #d3bb81;
	--color-primary-2: #decc92;
	--color-background: #faf2e3;
}

body {
	@apply bg-background;
}

table {
	thead {
		td {
			@apply font-bold py-4 border-0;
		}
	}

	tr {
		@apply border-b border-neutral-400;
	}

	td {
		@apply p-2 text-center bg-white;
	}
}
