@import "tailwindcss";

@theme {
	--color-primary: #ebc657;
	--color-primary-2: #febf18;
	--color-background: #faf2e3;

	--font-sans:
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

body {
	@apply bg-background;
}
